/* * * global * * */
:root {
    --main-padding: 30px;
}
* {
    color: #ddd;
    font-size: 18px;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
header {
    background-color: #ffffff11;
}
header .button {
    font-size: 20px;
    padding: 0.4em;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}
header > .button {
    font-size: 28px;
}
header .container {
    background-color: #ffffff11;
}
main {
    flex: 1;
    padding: var(--main-padding);
    overflow: auto;
    overflow: overlay;
}
body > div {
    width: 0.1vw;
    height: 100%;
    position: fixed;
}

article {
    margin-bottom: 50px;
}
h2 {
    font-size: 32px;
    padding-bottom: 0.5em;
}
h3 {
    font-size: 28px;
}
p {
    line-height: 120%;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #ffffff11;
    border-radius: 0.6vw;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff22;
}

/* * * class * * */
article.linklist > a {
    display: block;
    width: fit-content;
    line-height: 120%;
}
article.linklist > a:hover {
    text-shadow: #ddd 0 0 0.1em;
}