main table {
    font-family: monospace;
}
main td, main th {
    box-shadow: inset -1px -1px #ddd;
    vertical-align: middle;
    padding: 5px;
}
main td {
    font-size: 12pt;
    text-align: center;
    white-space: nowrap;
}
main thead, main th:first-child {
    position: sticky;
    background-color: #222;
}
main thead {
    top: calc(var(--main-padding) * -1);
    z-index: 1;
}
main thead th {
    box-shadow: inset -1px -1px #ddd, inset 0 1px #ddd;
}
main th:first-child {
    left: calc(var(--main-padding) * -1);
    box-shadow: inset -1px -1px #ddd, inset 1px 0 #ddd;
}
main thead th:first-child {
    box-shadow: inset 0 0 0 1px #ddd;
}
main td.empty {
    background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px)),
                      linear-gradient(to bottom left ,  transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
}